.greenCl{
    color: green;
}
.blackCl{
    color: black;
}
.blueCl{
    color: blue;
}
.lightCl{
    color: rgb(213, 222, 222);
}
.infoCl{
    color: rgb(16, 236, 239);
}
.redCl{
    color: red;
}
.yellowCl{
    color: yellow;
}
